@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Sheared Style */

.background{
  background-color: #1A0B2E;
}

.primary-color{
  color: #FFFFFF;
}

.faq-background{
  background-color: rgba(53, 17, 101, 0.4);
}

.faq-images{
  width: 40px;
  height: 40px;
  margin-bottom: 16px;
}

.faq-card-title{
  font-size: 1.5rem;
  font-weight: 700;
}

.faq-card-text{
  font-size: 0.8rem;
  line-height: 24px;
  font-weight: 400;
}

.faq-card-border{
  border: none;
  border-radius: 40px;
}




/* NavBar */

.nav-section{
  /* border: 1px solid red; */
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.brand{
  font-size: ;
  box-shadow: rgba(0, 0, 0, 0.25);
  font-weight: 700;
}

span-h2{
  background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-menu{
  display: flex;
  gap: 32px;
}

.nav-menu li{
  list-style: none;
  font-weight: 500;
  font-size: 1rem;
}

.nav-menu li a{
  text-decoration: none;
}

.nav-menu li a:hover{
  color: #F7E93F;
}



.btn-primary{
  background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  padding: 12px 16px;
  border: none;
  border-radius: 10000px;
  cursor: pointer;
}

.hamburger{
  display: none;
  cursor: pointer;
}

/* Banner */

.hero-banner{
  /* border: 1px solid red; */
  max-width: 1200px;
  height: 706px;
  margin: 0 auto;
  background-image: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.banner-content{
  background-image: url(../assets/hero-circle.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 125px 0px;
  display: flex;
  justify-content: center;

}

.tooltip{
  background-color: #00FF88;
  width: 75px;
  height: 38px;
  text-align: center;
  padding: 8px 16px;
  border-radius: 1000px;
  position: absolute;
  top: 5%;
  right: 39%;
  font-weight: 600;
}

.banner-text{
  text-align: center;
}

.banner-title{
  font-size: 3.8rem;
  font-weight: 800;
  margin-bottom: 8px;
}

.banner-description{
  font-size: 1rem;
  margin-bottom: 24px;
}

.banner-btn{
  gap: 8px;
}
.soptify-btn{
  background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  padding: 12px 20px;
  border: none;
  border-radius: 10000px;
  cursor: pointer;
  font-size: 0.7rem;
}
.Subscribe-btn{
  background-color: transparent;
  padding: 8px 12px;
  border: 2px solid #00FF88;
  border-radius: 10000px;
  cursor: pointer;
  color: #00FF88;
  font-size: 0.7rem;
}

/* Podcast */

.podcast-section{
  /* border: 1px solid red; */
  max-width: 1200px;
  height: 580px;
  margin: 0 auto;
}

.podcast-content{
  text-align: center;
  padding-top: 50px;
}

.content-title{
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 16px;
}

.content-description{
 font-size: 0.6rem;
 line-height: 20px;
 margin-bottom: 100px;
}

.podcast-rating{
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  justify-content: space-between;
  gap: 80px;
  /* border: 1px solid white; */
}

.card-title{
  color: #00FF88;
  text-align: center;
  margin-bottom: 8px;
  font-size: 3rem;
}

.card-description{
  font-weight: 400;
  font-size: 1rem;
  line-height: 20px;
  text-align: center;
}

/* FAQ SEction */

.faq-section{
  max-width: 1200px;
  /* border: 1px solid red; */
  height: 900px;
  margin: 0 auto;
  padding: 50px 30px;
  background-color: rgba(35, 14, 61, 1);
}

.box-1{
  grid-area: box1;
}

.box-2{
  grid-area: box2;
}

.box-3{
  grid-area: box3;
}

.box-4{
  grid-area: box4;
}

.box-5{
 grid-area: box5; 
}

.faq-cards{
  display: grid;
  gap: 30px;
  grid-template-areas: 
  "box1 box2 box2"
  "box1 box3 box3"
  "box4 box4 box5";
}

.faq-head-title{
  font-size: 3rem;
  text-align: center;
  margin-bottom: 40px;
}

.box-1{
  padding: 70px 40px;
}

.box-1 h5{
  margin-bottom: 16px;
}

.box-2{
  padding: 40px;
}

.box-2 img{
  width: 30px;
  height: 40px;
  margin-bottom: 12px;
}

.box-2 h5{
  margin-bottom: 12px;
}

.box-3{
  padding: 40px;
}

.box-3 h5{
  margin-bottom: 12px;
}

.box-4{
  padding: 10px 40px;
}

.box-4 img{
  margin-bottom: 8px;
}

.box-4 h5{
  margin-bottom: 8px;
}

.box-5{
  padding: 20px 40px;
}

.box-5 img{
  margin-bottom: 8px;
}

.box-5 h5{
  margin-bottom: 8px;
}

/* Feature Section */

.feature-container{
  max-width: 1200px;
  margin: 0px auto;
}

.feature-head{
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  padding-top: 40px;
}

.iframe-container{
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.iframe-card{
  /* border: 2px solid blue; */
  width: 280px;
  height: 330px;
  border-radius: 30px;
  background-color: rgba(37, 13, 68, 1);
}

.iframe-card iframe{
  width: 100%;
  height: 50%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.iframe-title{
  margin-top: 18px;
  font-size: 1.2rem;
  padding-right: 10px;
  padding-left: 10px;
}

.iframe-description{
  margin-top: 8px;
  font-size: 0.8rem;
  padding-right: 10px;
  padding-left: 10px;
}

.clock{
  display: flex;
  gap: 10px;
  margin-left: 10px;
  position: relative;
}

.clock p{
  color: #00FF88;
  font-size: 0.8rem;
  position: absolute;
  left: 20px;
  top: 10px;
}

.iframe-card img{
  width: 15px;
  margin-top: 10px;
  align-items: start;
}
/* Host section */

.host-head{
  margin-top: 30px;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.host-item{
  max-width: 1070px;
  height: 240px;
  /* border: 2px solid white; */
  margin: 0px auto;
  border-radius: 40px;
  background-color: rgba(37, 13, 68, 1);
}

.host-item{
  display: flex;
  gap: 20px;
  padding: 30px;
}

.host-image{
  display: flex;
  justify-items: center;
  align-content: center;
}

.host-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.host-text-title{
  font-size: 1.8rem;
  margin-bottom: 12px;
}

.social-icon{
  display: flex;
  gap: 8px;
  margin-top: 10px;
}

.social-icon a{
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(83, 60, 114, 1);
  border-radius: 50%;
}










/* Responsive */

@media screen and (max-width:576px) {
 .nav-section{
    padding: 20px;
    justify-content: space-between;
  }

   .hamburger{
    display: inline-block;
  }

  .nav-menu{
    display: none;
  }

  .btn-primary{
    display: none;
  }

  /* banner */

  .hero-banner{
    height: auto;
    background-size: cover;
    position: relative;
  }

  .banner-content{
    padding: 50px 30px;
    background-size: 160px;
  }

  .banner-content img{
    width: 45px;
  }

  .tooltip{
  background-color: #00FF88;
  width: 60px;
  height: 30px;
  font-size: 0.8rem;
  text-align: center;
  padding: 8px 16px;
  border-radius: 1000px;
  position: absolute;
  top: 5%;
  right: 29%;
  font-weight: 600;
}


  .banner-title{
    font-size: 2.5rem;
  }

  .banner-description{
    font-size: 0.8rem;
  }

  .soptify-btn{
  padding: 8px 6px;
  border: none;
  border-radius: 10000px;
  cursor: pointer;
  }

  .Subscribe-btn{
    font-size: 0.6rem;
    margin-bottom: 5px;
  }

  /* Podcast */
  .content-title{
    font-size: 2rem;
  }

  .content-description{
 font-size: 0.6rem;
 padding-left: 20px;
 padding-right: 20px;
}

.podcast-rating{
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-title{
  font-size: 1.5rem;
}

.card-description{
  font-size: 0.6rem;
}

/* FAQ Section */

.faq-section{
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 50px 30px;
}

.faq-cards{
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  gap: 16px;
  grid-template-areas: 
  "box1"
  "box2"
  "box3"
  "box4"
  "box5";
}

.faq-head-title{
  font-size: 1.5rem;
  margin-bottom: 16px;
}

.faq-images{
  width: 30px;
  height: 30px;
}

.box-2 img{
  width: 25px;
  height: 30px;
}

.faq-card-title{
  font-size: 1rem;
}

/* feature */

.feature-container{
  background-color: #1A0B2E;
}

.feature-head{
  font-size: 1.2rem;
  margin-bottom: 12px;
}

.iframe-container{
  flex-direction: column;
  gap: 12px;
}

.iframe-card{
  width: fit-content;
  height: 350px;
}

.host-head{
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.host-item{
  height: 520px;
  padding-bottom: 20px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.social-icon{
  display: flex;
  gap: 8px;
  justify-content: center;
}




}