@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Sheared Style */

.background{
  background-color: #1A0B2E;
}

.primary-color{
  color: #FFFFFF;
}

/* NavBar */

.nav-section{
  /* border: 1px solid red; */
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.brand{
  font-size: ;
  box-shadow: rgba(0, 0, 0, 0.25);
  font-weight: 700;
}

span-h2{
  background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-menu{
  display: flex;
  gap: 32px;
}

.nav-menu li{
  list-style: none;
  font-weight: 500;
  font-size: 1rem;
}

.nav-menu li a{
  text-decoration: none;
}

.nav-menu li a:hover{
  color: #F7E93F;
}



.btn-primary{
  background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  padding: 12px 16px;
  border: none;
  border-radius: 10000px;
  cursor: pointer;
}

.hamburger{
  display: none;
  cursor: pointer;
}

/* Banner */

.hero-banner{
  /* border: 1px solid red; */
  max-width: 1200px;
  height: 706px;
  margin: 0 auto;
  background-image: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.banner-content{
  background-image: url(../assets/hero-circle.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 125px 0px;
  display: flex;
  justify-content: center;

}

.tooltip{
  background-color: #00FF88;
  width: 75px;
  height: 38px;
  text-align: center;
  padding: 8px 16px;
  border-radius: 1000px;
  position: absolute;
  top: 5%;
  right: 39%;
  font-weight: 600;
}

.banner-text{
  text-align: center;
}

.banner-title{
  font-size: 3.8rem;
  font-weight: 800;
  margin-bottom: 8px;
}

.banner-description{
  font-size: 1rem;
  margin-bottom: 24px;
}

.banner-btn{
  gap: 8px;
}
.soptify-btn{
  background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  padding: 12px 20px;
  border: none;
  border-radius: 10000px;
  cursor: pointer;
  font-size: 0.7rem;
}
.Subscribe-btn{
  background-color: transparent;
  padding: 8px 12px;
  border: 2px solid #00FF88;
  border-radius: 10000px;
  cursor: pointer;
  color: #00FF88;
  font-size: 0.7rem;
}








/* Responsive */

@media screen and (max-width:576px) {
 .nav-section{
    padding: 20px;
    justify-content: space-between;
  }

   .hamburger{
    display: inline-block;
  }

  .nav-menu{
    display: none;
  }

  .btn-primary{
    display: none;
  }

  /* banner */

  .hero-banner{
    height: auto;
    background-size: cover;
    position: relative;
  }

  .banner-content{
    padding: 50px 30px;
    background-size: 160px;
  }

  .banner-content img{
    width: 45px;
  }

  .tooltip{
  background-color: #00FF88;
  width: 60px;
  height: 30px;
  font-size: 0.8rem;
  text-align: center;
  padding: 8px 16px;
  border-radius: 1000px;
  position: absolute;
  top: 5%;
  right: 29%;
  font-weight: 600;
}


  .banner-title{
    font-size: 2.5rem;
  }

  .banner-description{
    font-size: 0.8rem;
  }

  .soptify-btn{
  padding: 8px 6px;
  border: none;
  border-radius: 10000px;
  cursor: pointer;
  }

  .Subscribe-btn{
    font-size: 0.6rem;
    margin-bottom: 5px;
  }


}