@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Sheared Style */

.background{
  background-color: #1A0B2E;
}

/* NavBar */

.nav-section{
  /* border: 1px solid red; */
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
}

.brand{
  font-size: ;
  color: #FFFFFF;
  box-shadow: rgba(0, 0, 0, 0.25);
  font-weight: 700;
}

span-h2{
  background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-menu{
  display: flex;
  gap: 32px;
}

.nav-menu li{
  list-style: none;
  font-weight: 500;
  font-size: 1rem;
}

.nav-menu li a{
  text-decoration: none;
  color: #FFFFFF;
}

.nav-menu li a:hover{
  color: #F7E93F;
}



.btn-primary{
  background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
  color: #FFFFFF;
  padding: 12px 16px;
  border: none;
  border-radius: 10000px;
  cursor: pointer;
}

.hamburger{
  display: none;
  cursor: pointer;
}









/* Responsive */

@media screen and (max-width:576px) {
 .nav-section{
    padding: 20px;
    justify-content: space-between;
  }

   .hamburger{
    display: inline-block;
  }

  .nav-menu{
    display: none;
  }

  .btn-primary{
    display: none;
  }


}